#calendar-content {
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */

  height: 100%;
  /* background-color: red; */
}

#calendar-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  padding: 50px;
  gap: 30px;
}

/* Selezione Giornata */

#matchday-selector-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 25px;
}

.matchday-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  padding: 5px 20px;
  background-color: var(--secondary);
  border: var(--interaction);
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.2rem;
}

.matchday-btn:hover {
  color: var(--darkText);
  background-color: var(--orange);
  border: 1px solid transparent;
}

.matchday-btn.active {
  background-color: var(--orange);
  color: var(--darkText);
  border: 1px solid transparent;
}

/* Partite */

#matchday-matches-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 15px;
}

.match-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  gap: 10px;

  border-radius: 10px;
  box-shadow: var(--ombra3);
  background-color: var(--secondary);
}

.match-info-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.match-info-div input {
  font-weight: bold;
  text-align: center;
}

.match-title-div {
  font-weight: bold;
}

#matchday-matches-div button {
  width: 100%;
  padding: 15px;
  align-self: end;
}

#match-to-show-div {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: start;
  align-items: center;

  gap: 20px;

  height: auto;
  /* width: 100%; */
  padding: 15px;

  border-radius: 10px;
  box-shadow: var(--ombra1);
  overflow: hidden;
  background-color: var(--secondary);
}

#matchday-to-show-input {
  width: 40px;

  font-weight: bold;
  text-align: center;
}
