#calendar-content {
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */

  height: 100%;
  /* background-color: red; */
}

#calendar-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  padding: 50px;
  gap: 30px;
}

/* Selezione Giornata */

#matchday-selector-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 25px;
}

.matchday-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  padding: 5px 20px;
  background-color: var(--secondary);
  border: 1px solid var(--intestazioni);
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.2rem;
}

.matchday-btn:hover {
  color: black;
  background-color: var(--arancione);
  border: 1px solid transparent;
}

.matchday-btn.active {
  background-color: var(--arancione);
  color: black;
  border: 1px solid transparent;
}

/* Partite */

#matchday-matches-div {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 15px;
}

.match-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  gap: 10px;

  border-radius: 10px;
  box-shadow: var(--ombra3);
  background-color: var(--secondary);
}

.match-info-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.match-info-div input {
  font-weight: bold;
  text-align: center;
}

.match-title-div {
  font-weight: bold;
}

#matchday-matches-div button {
  width: 100%;
  padding: 15px;
  align-self: end;
}

/* .toggle-button {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 35px;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-button .knob {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--intTabella);
  transition: 0.2s;
  border-radius: 5px;
}
.toggle-button .knob:before {
  background-color: var(--intestazioni);
  color: #000000;
  font-weight: bold;
  position: absolute;
  content: "Off";
  height: 25px;
  width: 35px;
  left: 5px;
  bottom: 5px;
  transition: 0.2s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button input:checked + .knob {
  background-color: var(--intestazioni);
}

.toggle-button input:focus + .knob {
  box-shadow: 0 0 1px #2196f3;
}

.toggle-button input:checked + .knob:before {
  color: #ffffff;
  content: "On";
  background-color: var(--intTabella);
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.selector {
  margin-bottom: 20px;
} */

#match-to-show-div {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: start;
  align-items: center;

  gap: 20px;

  height: auto;
  /* width: 100%; */
  padding: 15px;

  border-radius: 10px;
  box-shadow: var(--ombra1);
  overflow: hidden;
  background-color: var(--secondary);
}

#matchday-to-show-input {
  width: 40px;

  font-weight: bold;
  text-align: center;
}
