.container-classifica-gironi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.classifica-giocatori {
  background-color: var(--secondary);
  border-radius: 10px;
  margin: 10px 0;
}

.custom-table {
  width: auto;
  border-collapse: collapse;
  font-family: "roboto", sans-serif;
  font-size: 0.55rem;

  background-color: var(--tabella);
  color: var(--testo);

  border-radius: 10px;
}

.custom-table th,
.custom-table tr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--sfondo);

  text-align: center;
}

.custom-table td,
.custom-table th {
  padding: 8px 5px;
  width: 25px;
}

.custom-table th {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  color: var(--intestazioni);
}

.custom-table thead {
  background-color: var(--intTabella);
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  text-align: left;
  width: 135px;
  max-width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table thead :nth-child(1) {
  border-top-left-radius: 10px;
}

.custom-table thead :nth-child(10) {
  border-top-right-radius: 10px;
}

.custom-table tbody tr:nth-child(1),
.custom-table tbody tr:nth-child(2),
.custom-table tbody tr:nth-child(3),
.custom-table tbody tr:nth-child(4) {
  background-color: rgba(255, 255, 0, 0.5);
}

.custom-table tr:nth-child(1) td:nth-child(1),
.custom-table tr:nth-child(2) td:nth-child(1),
.custom-table tr:nth-child(3) td:nth-child(1),
.custom-table tr:nth-child(4) td:nth-child(1) {
  background-color: var(--squadreChePassano);
}

.custom-table td:nth-child(2),
.custom-table td:nth-child(10) {
  font-weight: 600;
}

.custom-table td:nth-child(3),
.custom-table td:nth-child(4),
.custom-table td:nth-child(5),
.custom-table td:nth-child(6) {
  color: rgba(255, 255, 255, 0.7);
}

.custom-table tbody tr:last-child {
  border-bottom: none;
}

.custom-table th:nth-child(7),
.custom-table th:nth-child(8),
.custom-table th:nth-child(9),
.custom-table td:nth-child(7),
.custom-table td:nth-child(8),
.custom-table td:nth-child(9) {
  display: none;
}

/* MARCATORI E ASSIST*/
.custom-table-g-a {
  width: auto;
  border-collapse: collapse;
  font-family: "roboto", sans-serif;
  font-size: 0.55rem;
  font-weight: 500;
  color: var(--testo);
  background-color: var(--tabella);

  border-radius: 10px;
}

/* .custom-table-g-a th, */
.custom-table-g-a tr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--sfondo);

  text-align: center;
}

.custom-table-g-a td,
.custom-table-g-a th {
  padding: 8px 5px;
}

.custom-table-g-a th:nth-child(2),
.custom-table-g-a td:nth-child(2) {
  text-align: left;
  width: 115px;
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table-g-a th:nth-child(3),
.custom-table-g-a td:nth-child(3) {
  text-align: left;
  width: 120px;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table-g-a thead :nth-child(1) {
  border-top-left-radius: 10px;
}

.custom-table-g-a thead :nth-child(4) {
  border-top-right-radius: 10px;
}

.custom-table-g-a th:nth-child(1),
.custom-table-g-a th:nth-child(4),
.custom-table-g-a td:nth-child(1),
.custom-table-g-a td:nth-child(4) {
  width: 25px;
}

.custom-table-g-a th {
  background-color: var(--intTabella);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  color: yellow;
}

.custom-table-g-a tbody tr:last-child {
  border-bottom: none;
}

.pagination {
  display: flex;
  justify-content: end;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #3063f0;
  margin-top: 5px;
  background-color: #669af2;
  overflow: hidden;
}

.pagination a {
  color: var(--testo);
  display: inline-block;
  padding: 5px 12px; /* Aggiungi spazio intorno al testo */
  text-decoration: none;
  font-size: 0.55rem;
  border-right: 1px solid #3063f0;
}

.pagination a:last-child {
  border-right: none !important;
}

.pagination a.active {
  color: var(--testo) !important;
  background-color: #144f8f;
}

/* FASE FINALE*/

#tabellone {
  width: 100%;
}

/*
===================================
break points
===================================
*/

@media (min-width: 576px) {
}

@media (min-width: 992px) {
  .container-classifica-gironi {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .girone-container {
    padding: 20px 30px;
    margin: 10px;
  } */

  .classifica-giocatori {
    margin: 20px 30px;
  }

  .container-classifica-giocatori {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  caption {
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 10px 0 20px 0;

    color: var(--testo);
  }

  .custom-table {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 15px 0 25px 0;
  }

  .custom-table td,
  .custom-table th {
    padding: 20px 20px;
    width: 80px;
  }

  .custom-table-g-a th:nth-child(2),
  .custom-table-g-a td:nth-child(2) {
    width: 200px;
    max-width: 200px;
  }

  .custom-table-g-a th:nth-child(3),
  .custom-table-g-a td:nth-child(3) {
    width: 200px;
    max-width: 200px;
  }

  .custom-table th {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .custom-table thead :nth-child(1) {
    border-top-left-radius: 10px;
  }

  .custom-table thead :nth-child(10) {
    border-top-right-radius: 10px;
  }

  .custom-table th:nth-child(2),
  .custom-table td:nth-child(2) {
    padding: 8px;
    width: 200px;
    max-width: 200px;
  }

  .custom-table td:nth-child(1),
  .custom-table td:nth-child(2),
  .custom-table td:nth-child(10) {
    font-weight: 600;
  }

  .custom-table th:nth-child(7),
  .custom-table th:nth-child(8),
  .custom-table th:nth-child(9),
  .custom-table td:nth-child(7),
  .custom-table td:nth-child(8),
  .custom-table td:nth-child(9) {
    display: table-cell;
  }

  /* MARCATORI E ASSIST*/
  .custom-table-g-a {
    font-size: 1rem;
    font-weight: 500;
    /* margin: 15px 10px 0 10px; */
  }

  .custom-table-g-a td,
  .custom-table-g-a th {
    padding: 20px 20px;
    width: 80px;
  }

  .custom-table-g-a th:nth-child(2),
  .custom-table-g-a th:nth-child(3),
  .custom-table-g-a td:nth-child(2),
  .custom-table-g-a td:nth-child(3) {
    width: 400px;
    max-width: 400px;
  }

  .custom-table-g-a th:nth-child(1),
  .custom-table-g-a th:nth-child(4),
  .custom-table-g-a td:nth-child(1),
  .custom-table-g-a td:nth-child(4) {
    width: 80px;
  }

  .custom-table-g-a th {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .custom-table-g-a thead :nth-child(1) {
    border-top-left-radius: 10px;
  }

  .custom-table-g-a thead :nth-child(4) {
    border-top-right-radius: 10px;
  }

  .pagination {
    display: flex;
    justify-content: end;
    width: fit-content;
    border-radius: 10px;

    margin-top: 5px;

    overflow: hidden;
  }

  .pagination a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
}
