:root {
  --background: #ffffff;
  --text: #ffffff;
  --testoTrasparente: #ffffff80;
  --darkText: #262f3e;
  /* --primary: #19392a; */
  /* --primary: #3f7360; */
  /* --primary: #40916c; */
  --primary: #2e684e;
  --secondary: #377d5d;
  --tertiary: #295a44;
  --table: var(--secondary);
  --orange: #f26a1b;
  --mainText: #fceb00;
  --interaction: 1px solid var(--mainText);
  --finalsTeams: rgba(13, 3, 78, 0.1);
  --matchesGradient: linear-gradient(
    90deg,
    #366f56 0%,
    var(--secondary) 50%,
    #366f56 100%
  );
  --ombra1: 0px -2px 5px 0px rgba(0, 0, 0, 0.2),
    2px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 5px 0px rgba(0, 0, 0, 0.2),
    -2px 0px 5px 0px rgba(0, 0, 0, 0.2);
  --ombra2: 0px -2px 5px 0px rgba(0, 0, 0, 0.1),
    2px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 2px 5px 0px rgba(0, 0, 0, 0.1),
    -2px 0px 5px 0px rgba(0, 0, 0, 0.1);
  --ombra3: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
