/*
===================================
 Shared CSS
===================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: #144f8f;
  color: white;
  height: 100vh;
  font-size: 16px;
  font-weight: bold;
}

h1 {
  margin: 20px;
  font-size: 1.8rem;
}

.button {
  padding: 10px;
  background-color: lightgreen;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
}

.dato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

option {
  background-color: #144f8f;
  color: white;
}

/*
===================================
  container
===================================
*/

.contenitore-dati-squadra {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/*
===================================
SPORT - DIVISIONE - GIRONE
===================================
*/

.sport-divisione-nomeSquadra {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
}

.sport-divisione-nomeSquadra label {
  margin-right: 10px;
}

.sport-divisione-nomeSquadra select {
  width: 160px;
  padding: 3px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  background-color: transparent;
  color: white;
}

.sport-divisione-nomeSquadra input {
  width: 280px;
  padding: 3.4px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  background-color: transparent;
  color: white;

  text-align: left;
}

/*
===================================
MEMBRI
===================================
*/

.membri {
  display: flex;
  margin: 10px;
}

.membri .dato {
  margin: 8px 0;
}

.membri input {
  width: 280px;
  padding: 3px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  background-color: transparent;
  color: white;

  text-align: left;
}

.allenatori,
.giocatori {
  width: 500px;
  margin: 10px;
  border: 1px solid #b1b1b1;
  border-radius: 10px;
}
