body {
  margin: 35px 20px;
  background-color: var(--primary);
}

h2 {
  color: var(--mainText);
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-width: 600px;
  margin: 0 auto;
}

label {
  color: var(--mainText);
  font-weight: bold;
  font-size: 1rem;
}

input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 4px;
}

select {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
}

select:invalid {
  color: var(--black-50);
}

option[hidden] {
  color: var(--black-50);
}

/* --------------------------------- */

#match-info-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
  border: var(--interaction);
  border-radius: 10px;
  background-color: var(--secondary);
  text-align: center;
}

.two-columns-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#home-gol-score,
#away-gol-score {
  text-align: center;
}

textarea {
  resize: vertical;
  border-radius: 5px;
  padding: 4px;
}

.team-section {
  margin-bottom: 5px;
}

.team-section p {
  font-weight: bold;
}

.player-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;

  text-align: left;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--black-50);
}

.player-name {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.player-div input {
  width: 40px;
  text-align: center;
}

.player-div input:not(:placeholder-shown) {
  background-color: var(--mainText);
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  width: 100%;

  padding: 10px 30px;
  background-color: var(--secondary);
  color: var(--mainText);
  border-radius: 5px;
  border: var(--interaction);
  cursor: pointer;

  text-align: center;
}

.btn:hover {
  color: var(--text);
  background-color: var(--orange);
  border: none;
}

.hidden {
  display: none;
}