/* OVERLAY */

.overlay {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--blu1);
  text-align: center;
  transition: all 0.5s ease;

  color: var(--testo);
  z-index: 2000;
}

.overlay-content {
  position: absolute;
  top: 10%;
  padding: 20px;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.match-info-div {
  display: flex;
  width: 100%;
  gap: 20px;
}

.team-div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;

  /* background-color: red; */
  /* height: 230px; */
}

.logo-div {
  /* background-color: orange; */
}

.logo-img {
  max-width: 150px;
}

.team-name {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: var(--giallo);
}

#team-logo {
  max-height: 150px;
  margin-bottom: 15px;
}

.gols-div {
  display: flex;
  gap: 20px;

  width: 100%;
}

.gol-div {
  width: 50%;
}

.gol-number {
  font-size: 5rem;
  color: var(--giallo);
  font-weight: bold;
}

.scorers-div {
  display: flex;
  width: 100%;
  gap: 20px;

  font-size: 0.7rem;
  font-weight: bold;
}

.scorers-div ul {
  list-style-type: none;
}

.scorers-div ul li {
  margin-bottom: 10px;
}

.home-scorers {
  width: 50%;
  text-align: left;
}

.away-scorers {
  width: 50%;
  text-align: right;
}

.close-team-info {
  float: right;
  padding: 35px;
  color: var(--testo);
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-soccer-ball-o {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  transform: rotate(20deg);
  vertical-align: 0.01px;
}

.goals-count {
  /* color: rgba(255, 255, 255, 0.5); */
  font-weight: 300;
}

@media (min-width: 992px) {
  .scorers-div {
    font-size: 1.2rem;
  }
}
