#matches-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

/* Selezione Giornata */

#matchday-selector-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 100%;
  gap: 25px;
  padding: 50px;
}

.matchday-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 150px;
  padding: 5px 10px;
  background-color: var(--secondary);
  border: 1px solid var(--interaction);
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.2rem;
}

.matchday-btn:hover {
  color: var(--text);
  background-color: var(--orange);
  border: 1px solid transparent;
}

/* Partite */

#matches-selector-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.match-div {
  text-align: center;
  font-weight: bold;

  padding: 15px;

  background-color: var(--secondary);
  border: 1px solid var(--interaction);
  border-radius: 10px;
  cursor: pointer;
}

.match-div:hover {
  color: var(--mainText);
  background-color: var(--orange);
  border: 1px solid transparent;
}

#match-details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  margin: 15px 30px;
}

#match-info-div {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.match-info-div input {
  font-weight: bold;
  text-align: center;
}

#match-title-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  font-weight: bold;

  color: var(--mainText);
  font-size: 1.8rem;
}

#match-title-div input {
  align-self: center;
  width: 50px;
  font-size: 1.5rem;
  text-align: center;
}

#match-title-div input::-webkit-outer-spin-button,
#match-title-div input::-webkit-inner-spin-button {
  opacity: 1;
}

#home-section,
#away-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);

  width: 100%;
  padding: 10px 20px;

  border: var(--bordoGiallo);
  border-radius: 10px;
}

#home-section {
  flex-direction: row;
}

#away-section {
  flex-direction: row-reverse;
}

#match-scorers-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  margin-top: 5px;
}

#match-home-scorers-div,
#match-away-scorers-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 420px;
  padding: 10px;

  border: var(--bordoGiallo);
  border-radius: 10px;
  background-color: var(--secondary);
}

.player-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 45%;
  padding-bottom: 1px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  text-align: left;
}

.player-name {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.player-div input {
  width: 40px;
  text-align: center;
}

.player-div input:not(:placeholder-shown) {
  background-color: var(--mainText);
}

#buttons-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

#buttons-div .custom-button {
  width: 100%;
}

/* 







*/

#match-to-show-div {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: start;
  align-items: center;

  gap: 20px;

  height: auto;
  /* width: 100%; */
  padding: 15px;

  border-radius: 10px;
  box-shadow: var(--ombra1);
  overflow: hidden;
  background-color: var(--secondary);
}

#matchday-to-show-input {
  width: 40px;

  font-weight: bold;
  text-align: center;
}
