* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: 20px 10px;
  font-family: "montserrat", sans-serif;
  color: var(--black);
}

#reports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.table-container {
  position: relative;
  width: 100%;
  border: 3px solid var(--grey-border);
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrollable-tbody {
  display: block;
  height: 600px;

  overflow-y: auto;
}

.scrollable-tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  vertical-align: top;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: var(--grey-row-hover);
}

thead {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: bold;
  background-color: var(--grey-border);
}

tbody {
  background-color: var(--grey-row);
}

th,
td {
  padding: 10px;
  vertical-align: top;
}

table th:nth-child(1),
table td:nth-child(1) {
  /* width: 100px; */
  max-width: 100px;
}

table th:nth-child(3),
table td:nth-child(3) {
  /* width: 200px; */
  max-width: 200px;
}

table th:nth-child(2),
table th:nth-child(4),
table th:nth-child(5),
table th:nth-child(6),
table td:nth-child(2),
table td:nth-child(4),
table td:nth-child(5),
table td:nth-child(6) {
  display: none;
}

tbody tr:hover,
table tr:nth-child(even):hover {
  background-color: var(--mainText);
}

/* OVERLAY */
/* Stile per l'overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Stile per il contenuto dell'overlay */
.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--white);
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  font-size: 0.8rem;

  width: 100%;
  position: relative;
}

.overlay-content h2,
h3 {
  text-align: center;
}

h3 {
  margin-top: 10px;
}

/* Stile per il pulsante di chiusura */
.close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

/* BREAK POINTS */

@media (min-width: 576px) {}

@media (min-width: 992px) {
  #scroll-container {
    height: 600px;
  }

  table {
    border-collapse: collapse;
    font-size: 0.8rem;
    vertical-align: top;
  }

  table th:nth-child(1),
  table td:nth-child(1) {
    width: 100px;
  }

  table th:nth-child(2),
  table td:nth-child(2) {
    width: 120px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table th:nth-child(3),
  table td:nth-child(3) {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table th:nth-child(4),
  table td:nth-child(4) {
    width: 2000px;
    max-width: 200px;
  }

  table th:nth-child(5),
  table td:nth-child(5) {}

  table th:nth-child(6),
  table td:nth-child(6) {
    text-align: justify;
    text-justify: inter-word;
  }

  table th:nth-child(7),
  table td:nth-child(7) {
    text-align: center;
    vertical-align: middle;
  }

  table th:nth-child(2),
  table th:nth-child(4),
  table th:nth-child(5),
  table th:nth-child(6),
  table td:nth-child(2),
  table td:nth-child(4),
  table td:nth-child(5),
  table td:nth-child(6) {
    display: table-cell;
  }

  tbody tr:hover {
    background-color: initial;
  }

  table tr:nth-child(even):hover {
    background-color: var(--grey-row-hover);
  }
}

@media (min-width: 1440px) {}

/* SCROLLBAR */
/* Per nascondere la barra di scorrimento su tutta la pagina */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer e Edge */
}

body {
  overflow: -moz-scrollbars-none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer e Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Per Webkit (Chrome, Safari, Opera) */
body::-webkit-scrollbar {
  display: none;
  /* Nascondi la barra di scorrimento */
}