/*
===================================
 Shared CSS
===================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

header {
  background-color: var(--background);
  color: var(--text);
}

footer {
  background-color: var(--background);
  color: var(--text);
}

p {
  font-size: 1rem;
  padding: var(--darkText);
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--darkText);
  cursor: pointer;
}

.logo {
  max-width: 150px;
}

/*
===================================
GRID
===================================
*/

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;

  grid-template-areas:
    "alias-header"
    "alias-main"
    "alias-footer";
}

header {
  grid-area: alias-header;
  width: 90%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

main {
  grid-area: alias-main;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 110px;
}

footer {
  grid-area: alias-footer;
  width: 90%;
  position: relative;
  top: 110px;
}

/*
===================================
Shared section styles
===================================
*/

main section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 90%;
  padding: 30px 15px;
  margin: 10px 0;
  border-radius: 20px;

  background-color: var(--primary);
  text-align: center;
}

section .section-title {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  color: var(--mainText);
}

@media (min-width: 576px) {
  main section {
    padding: 30px;
  }

  section .section-title {
    font-size: 2.3rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 992px) {
  main section {
    padding: 40px;
  }

  section .section-title {
    font-size: 4rem;
  }
}

@media (min-width: 1440px) {
}

/*
===================================
break points
===================================
*/

@media (min-width: 576px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1440px) {
}

.full-screen-svg {
  width: 80vw; /* Adatta alla larghezza dello schermo */
  max-width: 600px; /* Limite massimo */
  height: auto;
}
